---
import SpeechButtonLaunchpad from "../components/SpeechButtonLaunchpad.svelte";
import { data } from '../data'

let title = "9 Speech launchpad";

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/style/global.css" />
    <link rel="stylesheet" href="/style/home.css" />

    <style>
      body {
        padding: 0;
        display: block;
      }

      main {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      }

      @media (min-width: 568px) {
        main {
          grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        }
      }

      @media (min-width: 1024px) {
        main {
          grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
        }
      }
    </style>
  </head>
  <body>
    <main class="grid justify-center">
      {
        data.map(({ label, filename }) => (
          <SpeechButtonLaunchpad client:visible {label} {filename} />
        ))
      }
    </main>
  </body>
</html>
